img{
    width: 100%;
}

.button{
    background-color: #000000;
    border : none;
    box-shadow: 0 9px gray;
    width:150px;
    height:100px ;
    text-align:  center;
    font-size: 28px;
}

.button:hover{
    background-color: darkslategray;
}

.button:active{
    box-shadow: 0 5px gray;
    transform: translateY(5px);
}

.red{
    color:red;
}

.green{
    color:green;
}

.blue{
    color:blue;
}

.oval {
    border-radius: 20%;
}

canvas#game{
    width: 90%;
}

.btn-group button{
    background-color: darkslategray;
    border: 3px solid rgb(115, 8, 177);
    color: goldenrod;
    padding: 10px 24px;
    cursor: pointer;
    float: left;
    font-weight: 900;
}

.btn-group:after{
    content: "";
    clear: both;
    display: table;
}

.btn-group button:not(:last-child){
    border-right: none;
}

.btn-group button:hover{
    background-color: goldenrod;
    color:darkslategray;
}

.title button{
    background-color: transparent;
    border: 3px solid gray;
    color: black;
    padding: 10px 24px;
    cursor: pointer;
    float: left;
    font-weight: 900;
}